body{
  background-color: rgb(51, 51, 51);;
}
html, body, nav {
    padding:0;
    margin:0;
  }
  
  nav {
    width:100vw;
    height:auto;
    position:relative;
    border:solid 1px rgb(255, 255, 255);
    margin:25px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  
  ul, li {
    list-style-type:none;
  }
  
  li {
    width:auto;
    margin:0 25px;
  }
  ul li a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
  }
  
  .one ul {
    display:inline-flex;
    justify-content:flex-end;
  }
  
  .logo {
    background:red;
  }
  
  .logo-one {
    height:50px;
    width:50px;
  }
  img{
    height: 350px;
    margin-left: 5px;
  }
  